/*background-color of the website*/
body
{
    background-color: #EEEEEE;
}
/*Settings for title id*/
#title{
	/*Align the text to the center*/
	text-align: center;
	/*Underlining the text*/
	text-decoration: underline;
	/*Making the background color purple*/
	background-color: #bf00ff;
}
/*Settings for box class*/
.box {
	/*Setting background color*/
	background-color: #DDDDDD;
	/*Making it centered*/
	margin-left: 25%;
    margin-right: 25%;
	/*Making it rounded at the edges*/
	border-radius: 25px;
	/*Making text align to the center*/
	text-align: center;
}
/*Settings for box2 class*/
.box2 {
	/*Setting background color*/
	background-color: #DDDDDD;
	/*Making it rounded at the edges*/
	border-radius: 25px;
	/*Making text align to the center*/
	clear: both;
}
span
{
	/*Setting background color*/
	background-color: #DDDDDD;
	/*Making it rounded at the edges*/
	border-radius: 25px;
}

.linkpic
{
	float: right;
	width: 40%;
	max-width: 300;
	height: 50%;
}
/*Settings for section class*/
.section
{
	/*Making text align to the center*/
	text-align: center;
	/*Underlining the text*/
	text-decoration: underline;
	/*Setting the background color*/
	background-color: #87CEFA;
	clear: both;
}
.IntroBox
{
	background-color: green;
}